/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	position: fixed;
	top: 40px;
	left: 0px;
	width: 100%;
	height: calc( 100% - 40px );
}

.Menubar {
	position: fixed
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 101;
	height: 40px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}